In [73]:
import pandas as pd
import numpy as np
import re

In [80]:
df_01 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년01월.csv', encoding = 'cp949')
df_02 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년02월.csv', encoding = 'cp949')
df_03 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년03월.csv', encoding = 'cp949')
df_04 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년04월.csv', encoding = 'cp949')
df_05 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년05월.csv', encoding = 'cp949')
df_06 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년06월.csv', encoding = 'cp949')
df_07 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년07월.csv', encoding = 'cp949')
df_08 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년08월.csv', encoding = 'cp949')
df_09 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년09월.csv', encoding = 'cp949')
df_10 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년10월.csv', encoding = 'cp949')
df_11 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년11월.csv', encoding = 'cp949')
df_12 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년12월.csv', encoding = 'cp949')
df_bus = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/버스 정류장 위치.csv')

/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_01 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년01월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_02 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년02월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_03 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년03월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_04 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년04월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_05 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년05월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_06 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년06월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_07 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년07월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:8: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_08 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년08월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_09 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년09월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:10: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_10 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년10월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:11: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_11 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년11월.csv', encoding = 'cp949')
/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_6969/3035639114.py:12: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_12 = pd.read_csv('/Users/ikjuncho/Documents/GitHub/waste_medicine_collection_bins/data/2022년 버스 정류장 이용 승객/2022년12월.csv', encoding = 'cp949')

In [81]:

columns_time = ['00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수']

def calculate_sum(df):
    df[columns_time] = df[columns_time].astype('int')
    df['합계'] = df[columns_time].sum(axis=1)
    df = df[['버스정류장ARS번호', '합계']]
    return df

In [82]:
df_01 = calculate_sum(df_01)
df_02 = calculate_sum(df_02)
df_03 = calculate_sum(df_03)
df_04 = calculate_sum(df_04)
df_05 = calculate_sum(df_05)
df_06 = calculate_sum(df_06)
df_07 = calculate_sum(df_07)
df_08 = calculate_sum(df_08)
df_09 = calculate_sum(df_09)
df_10 = calculate_sum(df_10)
df_11 = calculate_sum(df_11)
df_12 = calculate_sum(df_12)

In [83]:
combined_df = pd.concat([df_01, df_02, df_03, df_04, df_05, df_06, df_07,
 df_08, df_09, df_10, df_11, df_12], axis=0)

In [86]:
combined_df.tail()

      버스정류장ARS번호  합계
41758          ~  88
41759          ~  26
41760          ~  25
41761          ~  43
41762          ~  48

In [87]:
filtered_rows = combined_df[combined_df['버스정류장ARS번호'] == '~']
combined_df = combined_df.drop(filtered_rows.index)

In [88]:
combined_df.tail()

      버스정류장ARS번호   합계
41530      63735    4
41531      15452   49
41532      15451  191
41533      15453  179
41534      15450   48

In [89]:
df_user = combined_df.groupby('버스정류장ARS번호')['합계'].sum().reset_index()
df_user.head()

  버스정류장ARS번호       합계
0       1001   316341
1       1002  1538820
2       1003  2244756
3       1004   488603
4       1005  1386333

In [93]:
df_bus.head()

,NODE_ID,ARS_ID,정류소명,X좌표,Y좌표,SIG_CD,SIG_ENG_NM,SIG_KOR_NM
0,100000001,1001,종로2가사거리,126.987750,37.569765,11110.0,Jongno-gu,종로구
1,100000002,1002,창경궁.서울대학교병원,126.996566,37.579183,11110.0,Jongno-gu,종로구
2,100000003,1003,명륜3가.성대입구,126.998340,37.582671,11110.0,Jongno-gu,종로구
3,100000004,1004,종로2가.삼일교,126.987613,37.568579,11110.0,Jongno-gu,종로구
4,100000005,1005,혜화동로터리.여운형활동터,127.001744,37.586243,11110.0,Jongno-gu,종로구

In [91]:
df_bus.columns

Index(['NODE_ID', 'ARS_ID', '정류소명', 'X좌표', 'Y좌표', 'SIG_CD', 'SIG_ENG_NM',
       'SIG_KOR_NM'],
      dtype='object')

In [94]:
df_bus = df_bus[['ARS_ID', 'SIG_KOR_NM']]
df_bus.columns = ['버스정류장ARS번호', '시군구']
df_bus.head()

   버스정류장ARS번호  시군구
0        1001  종로구
1        1002  종로구
2        1003  종로구
3        1004  종로구
4        1005  종로구

In [95]:
merged_df = pd.merge(df_user, df_bus, on='버스정류장ARS번호')
merged_df.head()

  버스정류장ARS번호       합계  시군구
0       1001   316341  종로구
1       1002  1538820  종로구
2       1003  2244756  종로구
3       1004   488603  종로구
4       1005  1386333  종로구

In [100]:
fin_df = merged_df.groupby('시군구')['합계'].sum().reset_index()
fin_df.columns = ['시군구', '버스 이용 인원']
fin_df.to_csv('시군구별 버스 이용 인원.csv', encoding='UTF-8', index='False')